apiVersion: apps/v1
kind: Deployment
metadata:
  name: vault
  namespace: secret-example
spec:
  replicas: 1
  selector:
    matchLabels:
      app: vault
  template:
    metadata:
      labels:
        app: vault
    spec:
      serviceAccountName: vault-sa
      containers:
      - name: vault
        image: hashicorp/vault:latest
        imagePullPolicy: Always
        ports:
        - containerPort: 8200
        env:
        - name: VAULT_DEV_ROOT_TOKEN_ID
          value: "root"
        - name: VAULT_ADDR
          value: "http://0.0.0.0:8200"
        args:
        - server
        - -dev
        - -dev-listen-address=0.0.0.0:8200
---
apiVersion: v1
kind: Service
metadata:
  name: vault
  namespace: secret-example
spec:
  selector:
    app: vault
  ports:
    - protocol: TCP
      port: 8200
      targetPort: 8200
